In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/simonet/my_jupyter_env/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /home/simonet/my_jupyter_env/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/simonet/my_jupyter_env/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/simonet/my_jupyter_env/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/simonet/my_jupyter_env/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/simonet/my_jupyter_env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
 pip install --upgrade pip

Requirement already satisfied: pip in /home/simonet/my_jupyter_env/lib/python3.11/site-packages (24.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#importing of necessary libraries
import pandas as pd
import numpy as np
import os

In [4]:
file_path = os.path.join(os.getcwd(), "characters.csv")
file_path

'/home/simonet/CFG_Project_G4/CFG_Degree_Project_Group_4/characters.csv'

In [5]:
# Read unclean dataset to CSV
character_data = pd.read_csv('/home/simonet/my_jupyter_env/characters.csv')
character_data.head()

,Name,Gender,Game,Age,Age_range,Playable,Sexualization,Id,Species,Side,Relevance,Romantic_Interest
0,Farah,Female,CODMW,27,Adult,1,0,CODMW_Farah,Human,P,PA,No
1,Protagonist,Custom,PSS,Teenager,Teenager,1,0,PSS_Protagonist,Human,P,PA,No
2,Magnolia,Female,PSS,Elderly,Elderly,0,0,PSS_Magnolia,Human,P,SC,No
3,Sonia,Female,PSS,26,Adult,0,0,PSS_Sonia,Human,P,SC,No
4,Marnie,Female,PSS,Teenager,Teenager,0,0,PSS_Marnie,Human,B,MC,No

In [6]:
#Initial check for null values, none 
character_data.isnull().sum()

Name                 0
Gender               0
Game                 0
Age                  0
Age_range            0
Playable             0
Sexualization        0
Id                   0
Species              0
Side                 0
Relevance            0
Romantic_Interest    0
dtype: int64

In [7]:
#Initial check for null values, none 
character_data.isnull().sum()

Name                 0
Gender               0
Game                 0
Age                  0
Age_range            0
Playable             0
Sexualization        0
Id                   0
Species              0
Side                 0
Relevance            0
Romantic_Interest    0
dtype: int64

In [8]:
#character_data.dtypes, all data types correspond to data in column, can be manipulated with ease
character_data.dtypes

Name                 object
Gender               object
Game                 object
Age                  object
Age_range            object
Playable              int64
Sexualization         int64
Id                   object
Species              object
Side                 object
Relevance            object
Romantic_Interest    object
dtype: object

In [9]:
character_data = character_data.rename(columns = {'Side':'Alliance'})
character_data = character_data.rename(columns = {'Side':'Alliance'})
character_data = character_data.rename(columns = {'Relevance':'Function'})
character_data = character_data.rename(columns = {'Sexualization':'Sexualization_total'})

In [10]:
duplicate_count = character_data[character_data.duplicated()].shape[0]
print(duplicate_count)

0

In [11]:
character_data = character_data.drop(columns=['Age'])

In [12]:
character_data.head()

,Name,Gender,Game,Age_range,Playable,Sexualization_total,Id,Species,Alliance,Function,Romantic_Interest
0,Farah,Female,CODMW,Adult,1,0,CODMW_Farah,Human,P,PA,No
1,Protagonist,Custom,PSS,Teenager,1,0,PSS_Protagonist,Human,P,PA,No
2,Magnolia,Female,PSS,Elderly,0,0,PSS_Magnolia,Human,P,SC,No
3,Sonia,Female,PSS,Adult,0,0,PSS_Sonia,Human,P,SC,No
4,Marnie,Female,PSS,Teenager,0,0,PSS_Marnie,Human,B,MC,No

In [13]:
#Altering Alliance column values -consideration clarity, however run time may be slightly longer - however preferred due to small dataset
character_data['Alliance'] = character_data['Alliance'].replace({'P':'Protagonist', 'A':'Antagonist', 'B':'Both'})

In [14]:
#replacement of Romantic interest str with int, consideration consistency with 'Playable' and 'Sexualization' fields, may improve run time
character_data['Romantic_Interest'] = character_data['Romantic_Interest'].replace({'No':0, 'Yes':1, 'opt':2})

In [15]:
unknown = character_data[character_data['Name'] == '???']
unknown

,Name,Gender,Game,Age_range,Playable,Sexualization_total,Id,Species,Alliance,Function,Romantic_Interest
594,???,Male,TBOIR,Child,1,0,TBOIR_???,Human,Protagonist,MC,0

In [16]:
character_data = character_data.replace({'Name':{'???': 'Noname'},'Id':{'TBOIR_???':'TBOIR_Noname'}})
character_data

,Name,Gender,Game,Age_range,Playable,Sexualization_total,Id,Species,Alliance,Function,Romantic_Interest
0,Farah,Female,CODMW,Adult,1,0,CODMW_Farah,Human,Protagonist,PA,0
1,Protagonist,Custom,PSS,Teenager,1,0,PSS_Protagonist,Human,Protagonist,PA,0
2,Magnolia,Female,PSS,Elderly,0,0,PSS_Magnolia,Human,Protagonist,SC,0
3,Sonia,Female,PSS,Adult,0,0,PSS_Sonia,Human,Protagonist,SC,0
4,Marnie,Female,PSS,Teenager,0,0,PSS_Marnie,Human,Both,MC,0
...,...,...,...,...,...,...,...,...,...,...,...
632,Beni,Male,KBOS,Infant,0,0,KBOS_Beni,Human,Protagonist,SC,0
633,Taro,Male,KBOS,Child,0,0,KBOS_Taro,Human,Protagonist,SC,0
634,Rusu,Male,KBOS,Adult,0,0,KBOS_Rusu,Human,Protagonist,SC,0
635,Adira,Female,KBOS,Adult,0,0,KBOS_Adira,Human,Protagonist,SC,0
636,Hana,Female,KBOS,Adult,0,0,KBOS_Hana,Human,Protagonist,SC,0

In [17]:
find = character_data[character_data['Game'] == 'TBOIR']
find

,Name,Gender,Game,Age_range,Playable,Sexualization_total,Id,Species,Alliance,Function,Romantic_Interest
589,Isaac,Male,TBOIR,Child,1,0,TBOIR_Isaac,Human,Protagonist,PA,0
590,Mother,Female,TBOIR,Adult,0,0,TBOIR_Mother,Human,Antagonist,MA,0
591,Magdalene,Female,TBOIR,Child,1,0,TBOIR_Magdalene,Human,Protagonist,MC,0
592,Cain,Male,TBOIR,Child,1,0,TBOIR_Cain,Human,Protagonist,MC,0
593,Judas,Male,TBOIR,Child,1,0,TBOIR_Judas,Human,Protagonist,MC,0
594,Noname,Male,TBOIR,Child,1,0,TBOIR_Noname,Human,Protagonist,MC,0
595,Eve,Female,TBOIR,Child,1,0,TBOIR_Eve,Human,Protagonist,SC,0
596,Samson,Male,TBOIR,Child,1,0,TBOIR_Samson,Human,Protagonist,SC,0
597,Azazel,Male,TBOIR,Child,1,0,TBOIR_Azazel,Human,Protagonist,SC,0
598,Lazarus,Male,TBOIR,Child,1,0,TBOIR_Lazarus,Human,Protagonist,SC,0
599,The Lost,Non-binary,TBOIR,Child,1,0,TBOIR_The,Human,Protagonist,SC,0

In [18]:
character_data.head()

,Name,Gender,Game,Age_range,Playable,Sexualization_total,Id,Species,Alliance,Function,Romantic_Interest
0,Farah,Female,CODMW,Adult,1,0,CODMW_Farah,Human,Protagonist,PA,0
1,Protagonist,Custom,PSS,Teenager,1,0,PSS_Protagonist,Human,Protagonist,PA,0
2,Magnolia,Female,PSS,Elderly,0,0,PSS_Magnolia,Human,Protagonist,SC,0
3,Sonia,Female,PSS,Adult,0,0,PSS_Sonia,Human,Protagonist,SC,0
4,Marnie,Female,PSS,Teenager,0,0,PSS_Marnie,Human,Both,MC,0

In [19]:
character_data.to_csv('cleaned_characters.csv', index=False)